config/google_api_credentials.json
config/google_api_token.yml
config/google_natural_language_api_credentials.json

vendor/
.vscode/
.history/
.env
node_modules
.clasp.*
.clasprc.json
clasp/**/*.js

/.bundle

/db/*.sqlite3
/db/*.sqlite3-*

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/config/master.key
